@charset "UTF-8";
@media screen and (min-width: 0px) and (max-width: 550px) {
    section#login {
        height: 500px;
    }
    section#login > div#imagem {
        height: 100px;
    }
    section#login > div#formulario > h1 {
        font-size: 7vw;
        margin-top: 3vh;
    }
    section#login > div#formulario > p 	{
        font-size: 3vw;
        margin-bottom: 7vh;
    }
    div#form > input {
        font-size: medium;
    }
}
@media screen and (min-width: 768px) and (max-width: 992px){
    section#login {
        width: 80vw;
    }
    section#login > div#imagem {
        float: left;
        width: 35%;
        height: 100%;
        border-radius: 20px 0px 0px 20px;
        box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.349);
    }
    section#login > div#formulario > p {
        margin-bottom: 95px;
    }
    section#login > div#formulario > h1 {
        padding: 50px 10px 25px 10px;
    }
    div#form > input.botao {
        margin-top: 5%;
    }
}
@media screen and (min-width: 992px){
    section#login {
        width: 80vw;
        max-width: 950px;
    }
    section#login > div#imagem {
        float: left;
        width: 35%;
        height: 100%;
        border-radius: 20px 0px 0px 20px;
        box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.349);
    }
    section#login > div#formulario > p {
        margin-bottom: 95px;
    }
    section#login > div#formulario > h1 {
        padding-top: 50px;
    }
    section#login > div#formulario > h1 {
        padding: 50px 10px 25px 10px;
    }
    div#form > input.botao {
        margin-top: 5%;
    }
}  
